<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="../../static/css/my1.css">-->
    <title>参考书管理系统</title>
</head>


<body>
<div class="container">
    <table class="table table-striped" th:if="${mybook!=null}" th:style="${mybook==null}?'display:none;':'padding:0px 0px 0px 0px;'">
        <caption style="font-size: 25px;" class="text-center"><b>现有教参列表</b></caption>

        <thead class="theadcenter">
        <tr>
            <th>ISBN</th>
            <th>书名</th>
            <th>出版社</th>
            <th>作者</th>
            <th>出版日期</th>
            <th>图书链接</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${books}">
        <tr>
            <input id="classID" type="hidden" th:value="${mybook.ISBN}">
            <td th:text="${mybook.ISBN}">0001名称</td>
            <td th:text="${mybook.name}">基于机器学习的XXX</td>
            <td th:text="${mybook.publisher}"></td>
            <td th:text="${mybook.author}"></td>
            <td th:text="${mybook.publishingDate}"></td>
            <td><a target="_blank" th:href="${mybook.libUrl}" th:text="${mybook.libUrl}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
<hr>
<h2>1.添加教参(从图书馆里搜索)</h2>
<!--<div th:text="你正在为 号课程添加教参"></div>-->
<hr>

<h3>根据ISBN搜索</h3>
<form action="/book/findByISBN">
    <input type="text" name="CID" th:value="${CID}" hidden>
    <input type="text" name="ISBN">
    <input type="submit" value="搜索!">
</form>


<h3>根据作者搜索 还没写sql</h3>
<form action="/book/findByAuthor">
    <input type="text" name="CID" th:value="${CID}" hidden>
    <input type="text" name="author">
    <input type="submit" value="搜索!">
</form>


<h3>根据书名搜索</h3>
<form action="/book/findByName">
    <input type="text" name="CID" th:value="${CID}" hidden>
    <input type="text" name="name">
    <input type="submit" value="搜索!">
</form>

<table class="table table-striped" th:style="${books==null}?'display:none;':'padding:0px 0px 0px 0px;'">
    <caption style="font-size: 25px;" class="text-center"><b>结果列表</b></caption>

    <thead class="theadcenter">
    <tr>
        <th>ISBN</th>
        <th>图书名称</th>
        <th>出版社</th>
        <th>作者</th>
        <th>URL</th>
        <th>操作</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <input id="bookID" type="hidden" th:value="${book.ISBN}">
        <td th:text="${book.ISBN}">0001名称</td>
        <td th:text="${book.name}">基于机器学习的XXX</td>
        <td th:text="${book.publisher}">蒋小花</td>
        <td th:text="${book.author}">1</td>
        <td th:text="${book.libUrl}">1</td>
        <td><a target="_blank" th:href=" '/book/AddThisBook?CID=' + ${CID} +'&bookID=' + ${book.ISBN}">就选这本</a></td>
    </tr>
    </tbody>
</table>

<hr>
<h2>2.荐购上传</h2>
<form action="/book/recommendBook">
    <input type="text" name="CID" th:value="${CID}" hidden>
    <label>书名<input type="text" name="Name"></label>
    <label>出版社<input type="text" name="Publisher"></label>
    <label>作者<input type="text" name="Author"></label>
    <label>出版时间<input type="text" name="PublishingDate"></label>
    <input type="submit" value="推荐购买!">
</form>
<div th:text="${msg_rec}" style="color: red"></div>
</div>

</body>
</html>