<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="../../static/css/my1.css">-->
    <title>参考书管理系统</title>
</head>


<body style="margin: 0; background:url(../../static/img/背景1.png);">
<div class="col-md-12 column text-center" style="margin-top: 20px;">
    <h2>华东理工大学</h2><h1><i class="fa fa-book"></i>参考书管理系统</h1>
</div>
<hr>

<div class="container">
<table class="table table-striped" th:style="${mybooks==null}?'display:none;':'padding:0px 0px 0px 0px;'">
    <caption style="font-size: 25px;" class="text-center"><b>资料列表</b></caption>

    <thead class="theadcenter">
    <tr>
        <th>ISBN</th>
        <th>书名</th>
        <th>出版社</th>
        <th>作者</th>
        <th>出版日期</th>
        <th>图书链接</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mybook:${mybooks}">
<!--    <tr>-->
        <input id="classID" type="hidden" th:value="${mybook.ISBN}">
        <td th:text="${mybook.ISBN}">0001名称</td>
        <td th:text="${mybook.name}">基于机器学习的XXX</td>
        <td th:text="${mybook.publisher}"></td>
        <td th:text="${mybook.author}"></td>
        <td th:text="${mybook.publishingDate}"></td>
        <td><a target="_blank" th:href="${mybook.libUrl}" th:text="${mybook.libUrl}"></a></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>