<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="../../static/css/my1.css">-->
    <title>参考书管理系统</title>
</head>

<body style="margin: 0; background:url(../../static/img/背景1.png);">

<div class="col-md-12 column text-center" style="margin-top: 20px; font-family: 华文行楷; font-size:25px;">
    <h2>华东理工大学</h2><h1>参考书管理系统</h1>
</div>

<div class="container">
    <h2>根据专业名搜索</h2>
    <form action="/student/SearchByMajor">
        <input type="text" name="major">
        <input type="submit" value="搜索！">
    </form>


    <h2>根据课程名搜索</h2>
    <form action="/student/SearchByClassname">
        <input type="text" name="classname">
        <input type="submit" value="搜索！">
    </form>


    <h2>本学期的课程</h2>
    <form action="/student/SearchMyClass">
        <input type="submit" value="搜索我的课程！">
    </form>

    <table class="table table-striped" th:style="${courses==null}?'display:none;':'padding:0px 0px 0px 0px;'">
        <caption style="font-size: 25px;" class="text-center"><b>课程列表</b></caption>

        <thead class="theadcenter">
        <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>开课学期</th>
            <th>上课老师</th>
            <th>操作</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${courses}">
            <input id="classID" type="hidden" th:value="${course.getCID()}">
            <td th:text="${course.CID}">0001名称</td>
            <td th:text="${course.CName}">基于机器学习的XXX</td>

            <td th:text="${course.term}">蒋小花</td>
            <td th:text="${course.TName}">1</td>
            <td><a target="_blank" th:href=" '/attachment/SearchAttachment?CID=' + ${course.CID}">课程资料</a></td>
            <td><a target="_blank" th:href=" '/book/SearchBook?CID=' + ${course.CID}">教参</a></td>
        </tr>
        </tbody>
    </table>




</div>
</body>
</html>